/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Nanum Gothic";
    src: url("NanumGothic-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("OpenSans-Regular.ttf");
}

body {
    background-color: #121212;
    color: whitesmoke;
    font-family: "OpenSans";
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

h1 {
    font-family: "Nanum Gothic";
}

button {
    font-family: "Nanum Gothic";
}