h1{
    display: inline-block;
    margin-right: 1rem;
}

h3 {
    font-style: italic;
}

.btn {
    color: #000000;
    background-color: #FEFEFE;
    border-color: transparent;
    border-radius: 5px;
    font-size: 1.6rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin: 0.2rem;
    flex-wrap: wrap;
    display: inline-block;
}
.btn:hover, .btn:focus{
    color: white;
    border-color: #888888;
}
.btn:active, .active {
    background-color: red;
    color: white;
}