/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("OpenSans-Regular.ttf");
}

body {
    background-color: #FEFEFE;
    color: #000000;
    font-family: "OpenSans";
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

a{
    color: #000000;
}

h1 {
    font-family: "OpenSans";
}

button {
    font-family: "OpenSans";
}