<div>
    <h2>How</h2>
    <li>Funded through eBay affiliate revenue when people buy using the links on the site</li>
    <li>No data is collected here, no account signup, no email lists, no advertisements</li>
    <li>Attempts to search for all relevent GPU's, and alligning a performance score with the listing</li>
    <li>Ebay data is updated ~every 5 minutes</li>
    <li>Price/performance is evaluated similarly to how it would be done in a spreadsheet, and scored relatively to every other listing</li>
    <h4>Benefits</h4>
    <li>First listing should be the best for you, not the last listing on the 50th page :)</li>
    <li>If you care about good value (price/performance) cards this save you having to spreadsheet each GPU and their benchmark scores</li>
    <li>Makes it easy to compare different GPU's without conducting 100+ different searches, cross-referencing prices etc</li>
    <h4>Drawbacks</h4>
    <li>Listings may be marked as a false-positive and ignored in searches</li>
    <li>Does not account for lifespan of cards</li>
    <li>Performance scores are representative of the cards that are usually benchmarked (mostly expensive/premium cards with good coolers). Cards with poor coolers will have an inflated performance result or will operate at louder than acceptable noise levels. This is not a noise-normalised testing methodology</li>
    <li>Does not account for performance benefits of liquid cooled cards</li>
    <li>Cannot identify suspicious listings (unbranded cards or cards with flashed bios, bad seller ratings). eBay usually protects the buyer in those situations but it would be better to avoid them completely</li>
    <li>Cannot prevent all instances of sellers gaming search algorithm (may be identified as incorrect GPU, inflating its price/performance rating)</li>
    <li>Cannot evaluate the value of different coolers, vendor specific software (think nvidia CUDA), RGB lighting, condition, stream processors, VRAM capacity, manufacturing node, power requirements etc</li>
</div> 